@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100;400;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Prompt&family=Roboto+Condensed:wght@700&family=Sacramento&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.6rem;
}

h1{
  font-size: 6rem;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color:#fff
}

.app::before{
  content: '';
  background:url('./assets/sunset.jpg') no-repeat center center/cover;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

}

.container {
  max-width: 35rem;
  height: 25rem;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.app .top {
  width: 100%;
  margin: 1rem auto;


}

.app .description{
  position: relative;
  right: -99%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25);
}

.bold{
  font-weight: bold;
}

.app .search {
  text-align: center;
  padding: 1rem;
}
.app input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background:rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.social{

  position:absolute;
  
  
  left:37rem;
  top:37rem;
  z-index: 100;
}